<h1 class="mBottom">CreativePro Office End User License Agreement</h1>

<p><a href="#" class="iconPrintSmall" style="margin: 12px 0 12px 0;" onClick="print(); return false;">Print this page.</a></p>

<p class="mBottom">Please review the following license agreement before installing or using CreativePro Office,
    any individual plug-in component or other software product, and/or all related materials.</p>

<h2 class="brown">Definitions</h2>
<p class="mBottom">This UpStart Productions End-User Software License Agreement ("EULA") is a legal agreement between
    you (either as an individual user, corporation or single entity) and UpStart Productions for the CreativePro Office
    software product - which includes computer software, and may include associated media, printed materials,
    and "online" or electronic documentation ("CreativePro Office" or "The Software").</p>
<p class="mBottom">By exercising your rights to install CreativePro Office, you agree to be bound by the terms of this
    End User License Agreement ("EULA"), including the limitations and warranty disclaimers. If you do NOT agree
    to the terms of this EULA, you may
    not install nor use CreativePro Office. If this is the case, please uninstall CreativePro Office from your system
    immediately, and destroy all copies of CreativePro Office and all of its component parts, source code, associated
    documentation, and related materials.</p>

<h2 class="brown">CreativePro Office License</h2>

<p class="mBottom">CreativePro Office is protected by copyright laws and international copyright treaties, as
well as other intellectual property laws and treaties.</p>

<h3>1. GRANT OF LICENSE.</h3>

<p class="mBottom">This is a license agreement, and NOT an agreement for sale. UpStart Productions retains ownership of the copy 
    of THE SOFTWARE in your possession, and all copies you may be licensed to make. UpStart Productions retains all rights 
    not expressly granted to you in this LICENSE. UpStart Productions hereby grants to you, and you accept, a non-exclusive, 
non-transferable license to use, copy and modify THE SOFTWARE only as authorized below.</p>

<p class="mBottom"><strong>This EULA grants you the following rights:</strong></p>

<p class="mBottom">You are granted a license to operate the software AT A SINGLE WEBSITE LOCATION (URL).</p>

<p class="mBottom">In no case shall you rent, lease, lend, redistribute nor re-license CreativePro Office or any related 
    source code to a 3rd party individual or entity. In no case shall you grant further redistribution rights for 
CreativePro Office to the end-users of your solution.</p>

<p class="mBottom">UNDER NO CIRCUMSTANCES MAY THE SOURCE CODE OR THE COMPILED PRODUCT BE USED AS THE BASIS FOR 
CREATING A PRODUCT THAT CONTAINS THE SAME, OR SUBSTANTIALLY THE SAME, FUNCTIONALITY AS ANY UPSTART PRODUCTIONS PRODUCT.</p>

<h3>2. DESCRIPTION OF OTHER RIGHTS AND LIMITATIONS.</h3>

<p class="mBottom">Termination: Without prejudice to any other rights, UpStart Productions may terminate this EULA if you fail to 
    comply with the terms and conditions of this EULA. In such event, you must destroy all copies of CreativePro Office 
and all of its component parts, source code, associated documentation, and related materials.</p>

<h3>3. COPYRIGHT.</h3>

<p class="mBottom">All title and copyrights in and to CreativePro Office (including but not limited to any images, 
    photographs, animations, video, audio, music, text, and "applets" incorporated into CreativePro Office), 
the accompanying printed materials, and any copies of CreativePro Office are owned by UpStart Productions.</p>

<p class="mBottom">CreativePro Office is protected by U.S. copyright laws and international treaty provisions. 
Therefore, you must treat CreativePro Office like any other copyrighted material.</p>

<h3>4. LIMITED WARRANTY.</h3>

<p class="mBottom">NO WARRANTIES. UpStart Productions expressly disclaims any warranty for CreativePro Office. CreativePro Office
    and any related documentation is provided "as is" without warranty of any kind, either expressed or implied, including, 
    without limitation, the implied warranties of merchantability, fitness for a particular purpose, or non-infringement. 
The entire risk arising out of use or performance of CreativePro Office remains with you.</p>

<h3>5. LIMITATION OF LIABILITY.</h3>

<p class="mBottom">NO LIABILITY FOR CONSEQUENTIAL DAMAGES. In no event shall UpStart Productions or its distributors be 
    liable for any damages whatsoever (including, without limitation, damages for loss of business profits, business 
    interruption, loss of business information, or any other pecuniary loss) arising out of the use of or inability to 
    use this UpStart Productions product (CreativePro Office) and related materials, even if UpStart Productions has 
    been advised of the possibility of such damages. Because some states do not allow the exclusion or limitation of 
liability for consequential or incidental damages, the above limitation may not apply to you.</p>
</p>

<p><strong>Please <a href="/contact">Contact Support</a> if you have any questions regarding our EULA.</strong></p>
