<h1 class="mBottom">CreativePro Office Privacy Policy</h1>

<p><a href="#" class="iconPrintSmall" style="margin: 12px 0 12px 0;" onClick="print(); return false;">Print this page.</a></p>

<h2 class="brown">Your privacy on the Internet is of the utmost importance to us.</h2>
<p class="mBottom">At CreativePro Office we want to make your experience online satisfying and safe.</p>

<p class="mBottom">Because we gather certain types of information about our users, we feel you should fully
understand the terms and conditions surrounding the capture and use of that
information. This privacy statement discloses what information we gather and how we
use it.</p>

<h2 class="brown">Information that CreativePro Office Gathers and Collects</h2>

<p class="mBottom">CreativePro Office gathers two types of information about users:</p>

<ol class="mBottom">
    <li>Information that users provide through optional, voluntary submissions. These
    are voluntary submissions through the CreativePro Office account signup form,
    the CreativePro Office contact form and "Add Your Comments" form on the CreativePro Office blog.</li>
    <li>Information CreativePro Office gathers through aggregated tracking information derived
    mainly by tallying page views throughout our site through Google Analytics. This information allows us to
    better tailor our content and services to our customers' needs.</li>
</ol>

<h2 class="brown">CreativePro Office Gathers User Information In The Following Processes:</h2>

<h3>Optional Voluntary Information</h3>
<p class="mBottom">We offer the following free services, which require some type of voluntary submission of
personal information by users:</p>

<h3>CreativePro Office Account Registration</h3>
<p class="mBottom">We request an email address from the user before they can access our member areas.
This information must be gathered in order to assign each user a unique user account.  A
user account allows the user to upload and store resources (photos, text, messages) on the site for the
purpose of organizing and managing projects, tasks, team members, calendars, and timesheets.</p>

<h3>CreativePro Office Contact Form</h3>
<p class="mBottom">We request an email address from the user before submitting a contact request on the
CreativePro Office website.</p>

<h3>Add Your Comments to the CreativePro Office Blog</h3>
<p class="mBottom">We require that a name and email address be provided from the user before posting
comments to the CreativePro Office blog.</p>

<h2 class="brown">Children</h2>
<p class="mBottom">Consistent with the Federal Children's Online Privacy Protection Act of 1998 (COPPA),
we will never knowingly request personally identifiable information from anyone under
the age of 13 without requesting parental consent.</p>

<h2 class="brown">Usage tracking</h2>
<p class="mBottom">CreativePro Office tracks user traffic patterns throughout the site by using Google Analytics and
    other proprietary tracking mechanisms. However, we do not correlate this information with data about individual
    users. CreativePro Office does break down
overall usage statistics according to a user's domain name, browser type, and MIME
type by reading this information from the browser string (information contained in every
user's browser).</p>

<h2 class="brown">Cookies</h2>
<p class="mBottom">CreativePro Office uses cookies for user authentication during login, maintaining
    application state while the user is logged in, and keeping the time clock synchronized
between individual page views while the user is logged in.</p>

<h2 class="brown">Use of Information</h2>
<p class="mBottom">CreativePro Office uses any information voluntarily given by our users to enhance their
experience on our website, whether to provide interactive or personalized
elements on the sites or to better prepare future content based on the interests of our
users.</p>

<p class="mBottom">As stated above, we do gather email addresses from our users. This information
is only used to communicate to the user during the signup process,
to provide customer support, to communicate with the user after the user has posted a comment
on the CreativePro Office blog
and	distribution of opt-in email newsletters and promotions.  CreativePro Office never
shares newsletter mailing lists or individual email addresses with any third parties,
including advertisers, sponsors or partners.</p>

<p class="mBottom">We use tracking information to determine which areas of our sites users like and
don't like based on traffic to those areas. We do not track what individual users read, but
rather how well each page performs overall. This helps us continue to build a better
service for our customers.</p>

<p class="mBottom">CreativePro Office creates aggregate reports on user demographics and traffic patterns.
Because we don't track the usage patterns of individual users, we will not disclose any
information about any individual user except to comply with applicable law or valid legal
process or to protect the personal safety of our users or the public.</p>

<h2 class="brown">SECURITY</h2>
<p class="mBottom">CreativePro Office operates secure data networks protected by industry standard firewall and
password protection systems. Our security and privacy policies are periodically reviewed
and enhanced as necessary and only authorized individuals have access to the
information provided by our customers.  User account passwords are encryptet using the sha1
encryption algorithm with a random salt and cannot be decrypted.</p>

<h2 class="brown">Opt-out Policy</h2>
<p class="mBottom">We give users options wherever necessary and practical. Such choices include:</p>
<ul class="mBottom">
    <li>Opting not to register to receive our electronic newsletters.</li>
    <li>Opting not to participate in certain interactive areas, which completely alleviates
    the need to gather any personally identifiable information from our users.</li>
</ul>

<h2 class="brown">Your Consent</h2>
<p class="mBottom">By using this site, you consent to the collection and use of this information by CreativePro Office.
If we decide to change our privacy policy, we will post those changes on this page so that you
are always aware of what information we collect, how we use it, and under what circumstances we
disclose it.  If, at this time, you have concerns or questions about the CreativePro Office privacy
policy, please email us at <a href="mailto:info@CreativeProOffice.com">info@CreativeProOffice.com</a>.
</p>

<p><strong>Please <a href="/contact">Contact Support</a> if you have any questions regarding our privacy policy.</strong></p>
