<h1 class="mBottom">CreativePro Office Refund &amp; Payment Policy</h1>

<p><a href="#" class="iconPrintSmall" style="margin: 12px 0 12px 0;" onClick="print(); return false;">Print this page.</a></p>

<h2 class="brown">When do I have to pay?</h2>
<p class="mBottom">All CreativePro Office plans include a free 30 day trial period.  If you
have signed up for a paid plan, you will be asked to supply credit
card information the next time you login to your account after the 30 day trial
period is over.</p>

<h2 class="brown">What if I upgrade to a paid plan from the FREE plan?</h2>
<p class="mBottom">If it's been more than 30 days since you signed up for your free plan, you
will be asked to pay for your paid plan immediately.</p>

<p class="mBottom">If you are still within
the 30 day trial period, you can use the paid plan for free until your 30 day trial
is over.</p>

<h2 class="brown">What if I cancel my account?</h2>
<p class="mBottom">If you cancel during your free trial, you will never be billed for anything - we
don't even collect your credit card information until your trial period is over.</p>

<p class="mBottom">If you cancel a paid plan before your next billing cycle, you will not be billed
for the unpaid time you have used and you will never be billed again. For example, if
your account is billed on the 3rd of every month and you cancel on the 20th of the month,
you will not be billed for the 4th through the 20th.</p>

<h2 class="brown">How do I cancel my account?</h2>
<p class="mBottom">Login to your account, click the Office Settings icon in the upper-right portion of the screen.
Then click the Account tab and click the yellow Cancel my account button.</p>

<h2 class="brown">Ok so how do I get a refund?</h2>
<p class="mBottom">Because we offer a free plan and a free 30 day trial on all paid plans, we do not offer refunds for hosted 
    account payments.</p>

<h2 class="brown">How about refunds on the self-hosted version?</h2>
<p class="mBottom">Downloading the self-hosted source code is the same as opening a "shrink wrapped"
CD or DVD - once it's opened, there are no refunds.  However, we will make every effort to ensure
that your product is installed and operating properly so that you are satisfied with your purchase.</p>

<p><strong>Please <a href="/contact">Contact Support</a> if you have any questions regarding our refund policy.</strong></p>