   <OPTION value="Accounting">Accounting</option>
   <OPTION value="Advertising">Advertising</option>
   <OPTION value="Aerospace">Aerospace</option>
   <OPTION value="Airline">Airline</option>
   <OPTION value="Automotive">Automotive</option>
   <OPTION value="Banking">Banking</option>
   <OPTION value="Biotech">BioTech</option>
   <OPTION value="Broadcasting">Broadcasting</option>
   <OPTION value="Chemical">Chemical</option>
   <OPTION value="Computer Hardware/Supplies">Computer Hardware/Supplies</option>
   <OPTION value="Computer software">Computer Software</option>
   <OPTION value="Construction">Construction</option>
   <OPTION value="Consumer Products">Consumer Products</option>
   <OPTION value="Distribution">Distribution</option>
   <OPTION value="Education">Education</option>
   <OPTION value="Electronics">Electronics</option>
   <OPTION value="Engineering">Engineering</option>
   <OPTION value="Entertainment">Entertainment</option>
   <OPTION value="Environmental">Environmental</option>
   <OPTION value="Fashion">Fashion</option>
   <OPTION value="Financial Planning/Services">Financial Planning/Services</option>
   <OPTION value="Food & Beverage">Food & Beverage</option>
   <OPTION value="Forestry">Forestry</option>
   <OPTION value="Freight/Shipping">Freight/Shipping</option>
   <OPTION value="Fund Raising">Fund Raising</option>
   <OPTION value="Government">Government</option>
   <OPTION value="Graphic Design">Graphic Design</option>
   <OPTION value="Health & Fitness">Health & Fitness</option>
   <OPTION value="Healthcare">Healthcare</option>
   <OPTION value="Hospitality">Hospitality</option>
   <OPTION value="Import/Export Trade">Import/Export Trade</option>
   <OPTION value="Industrial Supplies/Equipment">Industrial Supplies/Equipment</option>
   <OPTION value="Insurance">Insurance</option>
   <OPTION value="Interior Design">Interior Design</option>
   <OPTION value="Internet">Internet</option>
   <OPTION value="Legal">Legal</option>
   <OPTION value="Manufacturing">Manufacturing</option>
   <OPTION value="Marketing">Marketing</option>
   <OPTION value="Medical Supplies/Services">Medical Supplies/Services</option>
   <OPTION value="Mortgage Lending">Mortgage Lending</option>
   <OPTION value="Non-Profit">Non-Profit</option>
   <OPTION value="Office Products">Office Products</option>
   <OPTION value="Oil & Gas">Oil & Gas</option>
   <OPTION value="Other">Other</option>
   <OPTION value="Packaging">Packaging</option>
   <OPTION value="Paper">Paper</option>
   <OPTION value="Payroll services">Payroll Services</option>
   <OPTION value="Personnel/Employment">Personnel/Employment</option>
   <OPTION value="Pest Control">Pest Control</option>
   <OPTION value="Pharmeceutical">Pharmaceutical</option>
   <OPTION value="Photography">Photography</option>
   <OPTION value="Printing">Printing</option>
   <OPTION value="Public Relations">Public Relations</option>
   <OPTION value="Publishing">Publishing</option>
   <OPTION value="Real Estate">Real Estate</option>
   <OPTION value="Restaurant">Restaurant</option>
   <OPTION value="Retail">Retail</option>
   <OPTION value="Securities/Commodities">Securities/Commodities</option>
   <OPTION value="Security">Security</option>
   <OPTION value="Telecom">Telecom</option>
   <OPTION value="Training">Training</option>
   <OPTION value="Transportation">Transportation</option>
   <OPTION value="Travel">Travel</option>

