/* TextboxList CSS */
ul.autobox-holder { 
	margin: 0; 
	border: 1px solid #6699CC; 
	overflow: hidden; 
	height: auto !important; 
	height: 1%; 
	padding: 4px 5px 0; 
}

*:first-child+html ul.autobox-holder { 
	padding-bottom: 2px; 
} 
* html ul.autobox-holder { 
	padding-bottom: 2px; 
} /* ie7 and below */
ul.autobox-holder li { 
	float: left;
	 list-style-type: none; 
	 margin: 0 5px 4px 0; 
}
ul.autobox-holder li.bit-box, ul.autobox-holder li.bit-input input { 
	font: normal 12px arial;
}
ul.autobox-holder li.bit-box { 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	border: 1px solid #CAD8F3; 
	background: #DEE7F8; 
	padding: 1px 5px 2px; 
}
ul.autobox-holder li.bit-box-focus { 
	border-color: #598BEC; 
	background: #598BEC; 
	color: #fff; 
}
ul.autobox-holder li.bit-input input { 
	width: 150px; 
	margin: 0; 
	border: none; 
	outline: 0; 
	padding: 3px 0 2px; 
} /* no left/right padding here please */
ul.autobox-holder li.bit-input input.smallinput { 
	width: 20px; 
}

.autobox-input-text { 
	margin-bottom: 10px; 
	list-style-type: none; 
	padding-bottom: 10px; 
}
.autobox-input-text label { 
	font-weight: bold; 
	cursor: pointer; 
	display: block; 
	font-size: 13px; 
	margin-bottom: 10px; 
}
.autobox-input-text input { 
	width: 396px;
	padding: 5px 5px 6px; 
	font: normal 12px arial; 
	border: 1px solid #999;
    background: #fff;
}

form ul.autobox-holder { 
	width: 396px;
}

ul.autobox-holder li.bit-hover { 
	background: #BBCEF1; 
	border: 1px solid #6D95E0; 
}
ul.autobox-holder li.bit-box-focus { 
	border-color: #598BEC; 
	background: #598BEC; 
	color: #fff; 
}
ul.autobox-holder li.bit-box a.closebutton { 
	position: absolute; 
	right: 4px; 
	top: 5px; 
	display: block; 
	width: 7px; 
	height: 7px; 
	font-size: 1px; 
	background: url(../images/buttonCloseSmall.gif); 
}
ul.autobox-holder li.bit-box a.closebutton:hover { 
	background-position: 7px; 
}
ul.autobox-holder li.bit-box-focus a.closebutton, ul.autobox-holder li.bit-box-focus a.closebutton:hover { 
	background-position: bottom; 
}
ul.autobox-holder li.bit-box { 
	padding-right: 15px; 
	position: relative; 
}

/** autobox Autocompleter */
.autobox-auto { 
	display: none; 
	position: absolute; 
	width: 408px; 
	margin: -6px 0 0 262px;
	background: #f6f6ec;
}
.autobox-auto .default { 
	padding: 5px 7px; 
	border-width: 0 1px 1px; 
}
.autobox-auto ul { 
	display: none; 
	margin-left: 3px;
	padding: 0; 
}
.autobox-auto ul li { 
	padding: 5px 12px; 
	margin: 0; 
	list-style-type: none; 
	border: 1px solid #6699cc;
	border-width: 0 1px 1px; 
	font: normal 12px arial; 
}
.autobox-auto ul li em { 
	font-weight: bold; 
	font-style: normal; 
	background: #fafaf5; 
}
.autobox-auto ul li.auto-focus { 
	background: #D5EBFF;
	color: #000; 
}
.autobox-auto ul li.auto-focus em { 
	background: none; 
}

.feed li.existing {
    display: none;
}
