/* 
 * Browser reset CSS code based on code from MeyerWeb
 * http://meyerweb.com/eric/tools/css/reset/index.html
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, a img, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    text-align: left;
    
    /* Site specific attributes */
	font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    font-style: normal;
	font-size: 12px;
	line-height: 18px;
	color: #333;
}
body {
	line-height: 1;
    font-size: 62.5%;
	margin: 0;
}

/* Lists */	
ul, ol, dl, li, dt, dd {
	/*list-style: none;*/
}

/* Forms */
form, fieldset, button {
	border: 0;
    padding: 0;
}	
legend {
	color: #000;
}

/* Blockquote */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Tables */
table {
	border-collapse: collapse;
	border: 0;
    border-spacing: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}