/*
 ***** FORM STYLES ********************************************************
 */

form p {
	width: 680px;
	padding: 6px 12px 12px 0;
	margin-right: 3px;
}
	
	.greyForm .altRow {
		background: url("../images/bgFadeGrey.gif") repeat-x;
		border-top: 1px solid #eceaea;
		border-bottom: 1px solid #eceaea;
	}	
	
	form.noBorder p,p.noBorder {
		border: none;
        padding: 6px 12px 6px 0;
	}

	input, textarea, select {
		font: normal 1em arial;
		padding: 4px !important;
        border: 2px solid #dadada;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        font-size: 1em;
	}
	
    .messageBoxContainerTask textarea {
        width: 95%;
        height: 80px;
    }
    
	input.grayField,textarea.grayField,option.grayField,.clearOnFocus {
		color: #989696;
		font-weight: bold;
	}

	input.numberField {
		text-align: right;
	}
    
	input[type="text"]:focus, textarea:focus, select:focus {
        outline: none;
        border-color: #9ecaed;
        box-shadow: 0 0 10px #9ecaed;
        color: #000 !important;
	}
    
    .as-input {
        border: none;
        box-shadow: none !important;
        padding: 0;
    }
		
	select {
		padding: 2px !important;
	}

    option {
        padding-left: 3px !important;
    }

	option.emph, select option.emph {
		font: bold 1em arial;
        color: #666;
        border-bottom: 1px solid #eeeeee;
        margin-top: 6px;
	}

    option.indent, select option.indent {
		font: 1em arial;
        padding-left: 24px !important;
	}
	
	form label {
		font: bold 1.2em arial;
		display: block;
		float: left;
		width: 245px;	
		color: #333;
		padding-right: 20px;
		text-align: right;
        margin-top: 5px;
	}
         label.required {
               width: 245px;
               padding-right: 20px;
               background: url("../images/icons/bullet_delete.png") no-repeat right;
          }

          .inlineLabel {
               font: bold 1em arial;
               width: 250px;
               color: #333;
               padding: 3px 12px 0 0;
          }
		  
		  label.normal {
			  font: normal 1em arial;
			  display: inline;
			  float: none;
			  width: 100%;
			  color: #333;
		  }

          label.labelVert {
               display: block;
               margin: 6px 0 3px 0;
               font: bold 1em arial;
               float: none;
               text-align: left;
          }
			
	input.inline {
		display: block;
		float: left;
	}
	
	.formError {
        padding-left: 265px;
		color: red;
	}
	
	button.primary {
		display: inline-block;
		float: left;
	}
	
	button.secondary {
		display: inline-block;
		float: right;
	}
	
	input.search, input.search:focus, select.search, select.search:focus  {
		background: #fff url("../images/icons/magnifierSearch.png") no-repeat left;
		padding: 4px 4px 4px 24px !important;
	}

    input.vcardSearch, input.vcardSearch:focus, select.vcardSearch, select.vcardSearch:focus  {
		background: #fff url("../images/icons/vcardSearchAdd.png") no-repeat left;
		padding: 4px 4px 4px 24px !important;
	}

    input.setting, input.setting:focus, select.setting, select.setting:focus  {
		background: #fff url("../images/icons/cog.png") no-repeat left;
		padding: 4px 4px 4px 24px !important;
	}

    input.check, input.check:focus, select.check, select.check:focus  {
		background: #fff url("../images/icons/checkSmall.png") no-repeat left;
		padding: 4px 4px 4px 24px !important;
	}

    .savedField {
        background: #b6f2ab;
        border: 2px solid #339a1e;
    }
	
	select.sort  {
		/*background: #fff url("../images/icons/iconSelectSort.png") no-repeat left;*/
		padding-left: 20px !important;
		border: 1px solid #6699CC;
	}

    select.chart  {
		/*background: #fff url("../images/icons/iconSelectChart.png") no-repeat left;*/
		padding-left: 20px !important;
		border: 1px solid #6699CC;
	}
	
	form .moreLink {
		display: block;
		width: 396px;
		margin: 6px 0 0 262px;
		font: bold 1.2em arial;
		text-decoration: none;
	}
	
	form .moreLink:hover {
		display: block;
		width: 396px;
		margin: 6px 0 0 262px;
		font: bold 1.2em arial;
		text-decoration: none;
	}
	
	.formFieldWait {
		background: #ECF5FD url("../images/ajaxAnimSmall.gif") no-repeat right;
	}
	
	.buttonContainer {
		width: 454px;
		margin: 12px 0 0 262px;
	}
	
	.formSubText {
		margin-left: 265px;
	}

.formHelpText, .formRightContent {
	margin-left: 265px;
}

.hugeTextEntry {
    font-size: 2.5em !important;
    font-weight: bold;
}

.appSearchBox {
	float: left; 
	width: 208px;
	height: 16px;
    padding: 3px;
	margin-left: 3px;
	font: bold 1em arial;
    border-radius: none;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    border: 1px solid #666;
}	

.messageCheckboxContainer {
    overflow: hidden;
	display: inline-block; 
	width: 145px;
    max-height: 18px;
    padding: 0;
    margin: 0;
}

.messageRecipientContainer {
    overflow: hidden;
	display: inline-block;
	width: 145px;
    max-height: 18px;
    padding: 0;
    margin: 0;
}

.tzStyle {
    width: 400px;
}

.checkboxTrigger {
    cursor: pointer;
}

/*
 * Message form styles
 */
.messageFormContainer {
    border: 2px solid #dadada;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    background: #fff;
}

.messageFormAssetRow {
    border-top: 2px solid #dadada;
    background-color: #fafaf5;
    min-height: 35px;
}

.messageFormAssetRow span.icon {
    margin: 9px 0 0 6px;
    float: left;
}

.messageFormAssetRow .as-selections, .messageFormAssetRow input {
    float: left;
    border: none;
    outline: none;
    background-color: #fafaf5;
    padding-top: 0;
    margin-top: 2px;
}

.messageFormAssetRow .as-selection-item {
    margin-top: 3px;
}

.messageFormAssetRow .as-list {
    margin-top: 37px;
}
 
.messageBox:not(.normal) {
    margin: 9px 0 0 9px;
    border: none;
    background: #fff;
    color: #999;
}

.messageBox:not(.normal):focus {
    border: none;
    outline: none;
    box-shadow: none;
    color: #333;
}    

.messageBox.small {
    width: 97%;
    height: 20px;
}

.messageBox.big {
    width: 97%;
    height: 80px;
}