.pageexternallogged #header {
	width: 100%;
	height: 168px;
	background: #fff url(../images/bgHeader.gif) left repeat-x;
}

.pagelogin #header, .pageexternal #header {
	width: 100%;
	height: 168px;
	background: #fff url(../images/bgHeader.gif) bottom repeat-x;
}

/*
 * NEW STYLES 11-10-09
 */
#header .blackBar {
    width: 100%;
	height: 32px;
	background: url(../images/bgHeaderBlackBar.png) repeat-x;
}

#header .greenBar {
    width: 100%;
	height: 32px;
	background: url(../images/bgHeaderGreenBar.png) repeat-x;
}

#header .field.default {
    width: 100%;
	height: 104px;
	background: url(../images/bgHeaderFieldDefault.png) repeat-x;
}

#header .newFull {
    width: 100%;
	height: 168px;
	background: #fff url(../images/bgHeaderNew.png) repeat-x;
}

    #header .content {
        width: 982px;
        height: 104px;
		margin-left: auto;
		margin-right: auto;
        padding-left: 12px;
    }

    #header .content.default {
        background: url(../images/headerImages/header_default.jpg) top left no-repeat !important;
    }

    #logoCPO {
        display: block;
        width: 121px;
        height: 36px;
        float: left;
        padding: 6px 0 0 24px;
        background: url(../images/logoCPOSmall.gif) right no-repeat;
    }

    #logoCPOTop {
        width: 206px;
        height: 66px;
        padding-top: 20px;
        background: url(../images/logoCPO.png) bottom no-repeat;
    }
	
    #header .accountIdentityContainer {
        float: left;
        width: 70%;
        height: 104px;
        position: relative;
    }

    #header .accountIdentityContainer span {
        display: block;
        margin-top: 45px;
        font-size: 24px;
        color: #fff;
    }
    
    #header .userAvatarContainer {
        float: right;
        margin-top: 60px;
        margin-right: 9px;
    }
    #header .userAvatarContainer p, #header .userAvatarContainer img {
        color: #fff;
        float: left;
        margin-right: 4px;
    }

    #header .userAvatarContainer img  {
        border: 1px solid #fff;
    }
		
    #pageTitleContainer {
        float: left;
        max-height: 28px;
        width: 380px;
        overflow: hidden;
        padding-top: 4px;
    }
		
			.pageTitle {
				font: 14pt arial;
				height: 30px;
				padding-left: 38px;
				color: #4F6B04 !important;
				text-decoration: none;	
				overflow: hidden;			
			}
			
			.pageTitle a {
				font: 14pt arial;
				height: 30px;
				color: #4F6B04 !important;
				text-decoration: none !important;
			} 
			
			.pageTitle a:hover {
				font: 14pt arial;
				height: 30px;
				color: #4F6B04;
				text-decoration: underline;
			}
			
			.pageTitle .pageSubTitle {
				font: 14pt arial;
				color: #4F6B04;
                height: 30px;
			}			
	
		#pageControls {
			width: 340px;
            padding-top: 3px;
			float: left;
		}		
		
		#pageAlerts {
			height: 37px;
			float: right;
			margin: 2px 24px 0 0;
		}

		#footerWidgets {
			height: 37px;
			float: right;
		}       
		
		#ajaxIndicatorDocument {
			width: 249px;
			height: 38px;
			position: absolute;
			display: none;
			background: url("../images/bgGradientYellow.gif") top repeat-x;
			text-align: left;
			border-bottom: 1px solid #f9d74a;
		}
		
		#ajaxIndicatorDocument span {
			margin-left: 6px;
			font: bold .9em arial;
		}	
		
		#siteSearchContainer {
            float: right;
            padding-top: 3px;
            margin-right: 13px;
		}

#pageMessage {
    width: 100%;
    display: none;
}

    #pageMessages.error {

    }

    #pageMessages.alert {

    }

    #pageMessages.information {

    }

#headerControls {
	float: right; 
    width: 220px;
    margin: 4px 13px 0 0;
}
	
	#headerControlsMessage {
        margin-top: 6px;
		height: 15px;
        color: #fff;
	}
    /*
	#headerControls a {
		display: block;
		margin-right: 6px; 
		float: left;
		width: 25px;
		height: 25px;
	}
	
	#headerControls a span {
		display: none;
	}
    */

#mainPageArea {
	width: 100%;
    min-height: 100%;
	background: #F6F6ED url("../images/bgPageMain.jpg") top repeat-x;
}

    #contentArea {
        overflow: auto;
        padding-bottom: 42px;
    }

	#withRightColumn .contentArea, .bgWithSidebar {
		width: 992px;
		margin-left: auto;
		margin-right: auto;
		background: url("../images/bgContentArea.png") repeat-y;
		padding: 6px 0 6px 12px;	
		min-height: 800px;
	}	
	
	#noRightColumn .contentArea, .bgNoSidebar {
		width: 992px;
		margin-left: auto;
		margin-right: auto;
		background: url("../images/bgContentAreaNoSidebar.png") repeat-y;
		padding: 6px 0 6px 12px;
		min-height: 800px;	
	}
	
	#pageLeftColumn, #fileViewContainer {
		float: left;
		width: 716px;
		height: auto;
		min-height: 100%;
	}

    #fileViewContainer {
        display: none;
    }
	
	#pageRightColumn {
		float: left;
		width: 243px;
		margin-left: 13px;
	}

		#pageRightColumn div {
			padding: 6px;
		}
	
	#pageOneColumn {
		width: 970px;
	}

#footer {
	background: #73797b;
}
	
	.footerContentWrapper {
		width: 992px;
		margin-left: auto;
		margin-right: auto;
		background: url("../images/bgPageFooter.gif") left top no-repeat;		
		padding: 12px 0 6px 12px;	
		height: 200px;
	}	
	
	#footerToolbar {
        /*
        position: relative;
        margin-top: -42px;
        height: 42px;
        clear:both;
        background: url("../images/bgFooterBar.png") repeat-x;
        */
		position: fixed;
		bottom:0px;
		left:0px;
		width: 100%;
		background: url("../images/bgFooterBar.png") repeat-x;
		overflow: hidden;
		z-index: 1000;
		height: 42px;
	}

#footerWidgetBar {
	margin-top: 5px;
	display: block;
    float: left;
    height: 33px;
	padding: 3px 0 0 18px;
	background: url("../images/bgFooterFieldBlackLeft.png") no-repeat;
}

	#footerWidgetBarEnd {
		margin-top: 5px;
		float: left;
		width: 9px;
		height: 33px;
		background: url("../images/bgFooterFieldBlackRight.png");
	}

#fileTreeContainer {
	float: left;
	width: 25%;
	background: #fff;
	overflow: scroll;
	height: 355px;
    padding: 6px 0 0 6px;
}

#fileListContainer {
	float: left;
	width: 910px;
	min-width: 180px;
	padding: 6px 0 0 6px;
	overflow: auto;
	height: 350px;
}

#fileUploaderContainer {
    width: 661px;
    margin-right: 6px;
}

#helpContentContainer {
    float: left;
    overflow: auto;
    height: 350px;
    width: 620px;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

#helpTopicsContainer {
    float: left;
    padding: 12px;
    width: 200px;
    height: 350px;
    overflow: auto;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.widgetContentContainer {
	display: none;
	height: 336px;
}

.widgetContentContainer.scroller {
	overflow: auto;
}

#sideBarGraphContainer {
	width: 230px;
	height: 230px;
}

.padBottom6 {
	margin-bottom: 6px;
}

.padBottom12 {
	margin-bottom: 12px;
}

.padBottom18 {
	margin-bottom: 18px;
}

.padBottom24 {
	margin-bottom: 24px;
}

.lineBottom {
    border-bottom: 1px solid #ccc;
}

/*
 ***** CONTACT STYLES *****
 */
.contactHolder {
	display: inline-block;
	width: 46%;
	padding: 6px;
	margin: 12px 12px 0 0;
	background: #f9f9f4;
	border: 1px solid #e8e7d6;
	vertical-align: top;
	min-height: 150px;
}

.milestoneRow {
    width: 704px !important;
    padding: 6px 3px 6px 3px !important;
    margin: 3px 0 3px 0;
}

.taskRow {
    width: 704px !important;
    padding: 6px 3px 6px 3px !important;
}

.taskFormContainer {
    display: none;
    /*width: 100% !important;*/
    width: 696px;
    padding: 6px;
    margin: 6px 0 0px 0;
}

.eventBlock {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
    display: inline-block;
    padding: 2px;
}

/*
 * HEADER STYLES MAIN BACKGROUND
 */
#header .field.lights, #header .field.leaf, #header .field.planet {
    background: #000;
}

#header .field.beach {
    background: url(../images/headerImages/headerbg_beach.jpg) repeat-x;
}

#header .field.bubbles {
    background: url(../images/headerImages/headerbg_bubbles.jpg) repeat-x;
}

#header .field.blossoms {
    background: url(../images/headerImages/headerbg_blossoms.jpg) repeat-x;
}

#header .field.tulips {
    background: url(../images/headerImages/headerbg_tulips.jpg) repeat-x;
}

#header .content.lights {
    background: url(../images/headerImages/header_lights.jpg) top left no-repeat !important;
}

/*
 * HEADER STYLES PHOTO BACKGROUND
 */

#header .content.leaf {
    background: url(../images/headerImages/header_leaf.jpg) top left no-repeat !important;
}

#header .content.planet {
    background: url(../images/headerImages/header_planet.jpg) top left no-repeat !important;
}

#header .content.beach {
    background: url(../images/headerImages/header_beach.jpg) top left no-repeat !important;
}

#header .content.bubbles {
    background: url(../images/headerImages/header_bubbles.jpg) top left no-repeat !important;
}

#header .content.blossoms {
    background: url(../images/headerImages/header_blossoms.jpg) top left no-repeat !important;
}

#header .content.tulips {
    background: url(../images/headerImages/header_tulips.jpg) top left no-repeat !important;
}