#menuContainer {
	height: 56px;
}

#menu {
    height: 24px;
	margin-top: 1px;
}

	#menu ul {
	    list-style: none;
		display: inline;
	}

	#menu li.tab {
	    float: left;
		display: inline;
		background: url("../images/tabRight.gif") no-repeat right top;
		width: 100px;
		height: 32px;
	    text-align: center;
	    margin-left: -1px;
	}

	#menu li.tabLeft {
		float: left;
		display: inline;
		background: url("../images/tabLeft.gif") no-repeat right top;
		width: 5px;
		height: 32px;
	}
	
	#menu li.tabLeft2 {
		float: left;
		display: inline;
		background: url("../images/tabLeft2.gif") no-repeat right top;
		width: 4px;
		height: 32px;
	}
	
	.sf-menu .tab a {
		margin-top: 7px;
		font: bold 1.1em arial;
		display: block;
		text-align: center;
		width: 100px;
		text-decoration: none;
		color: #0066cc;
	}
	
	.sf-menu .tab a:hover {
		font: bold 1.1em arial;	
		text-decoration: none;
		color: #DD6611;
	}

	/***** SUPERFISH DROP-DOWN MENU STYLES *****/

	.sf-menu {
		line-height: 1.0;
	}
	
		.sf-menu ul {
			position: absolute;
			top: -999em;
			width: 182px; /* left offset of submenus need to match (see below) */
			height: 100px;
			margin: -2px 0 0 -4px;
		}
		
		.sf-menu ul li {
			text-align: left !important;
			width: 180px;
			height: 20px;
		}
		
		.sf-menu ul li a {
			font: bold 1em arial !important;
			display: block;
			padding: 3px 0 0 6px;
			margin-left: 2px;
			width: 173px !important;
			height: 20px !important;
			color: #333 !important;
			text-decoration: none;
			text-align: left !important;
		}

		.sf-menu ul li a:hover {
			font: bold 1em arial !important;
			display: block;
			padding: 3px 0 0 6px;
			margin-left: 2px;
			width: 173px !important;
			height: 20px !important;
			background: #ff9900;
			color: #fff !important;
			text-decoration: none;
			text-align: left !important;
		}
		
		.sf-menu li:hover {
			visibility:		inherit; /* fixes IE7 'sticky bug' */
		}
		
		.sf-menu li {
			float:			left;
			position:		relative;
		}
	
		.sf-menu li:hover ul,
		.sf-menu li.sfHover ul {
			left:			0;
			top:			34px; /* match top ul list item height */
			z-index:		99;
		}
		
		ul.sf-menu li:hover li ul,
		ul.sf-menu li.sfHover li ul {
			top:			-999em;
		}
	
		ul.sf-menu li li:hover li ul,
		ul.sf-menu li li.sfHover li ul {
			top:			-999em;
		}
		
		ul.sf-menu li li:hover ul,
		ul.sf-menu li li.sfHover ul {
			left:			182px; /* match ul width */
			top:			0;
		}
		
		ul.sf-menu li li li:hover ul,
		ul.sf-menu li li li.sfHover ul {
			left:			182px; /* match ul width */
			top:			0;
		}

		.dropDownMenuBG {
			width: 182px;
			display: none; 
			visibility: hidden;
			background: url("../images/bgDropDownMenu.gif") no-repeat right bottom;	
		}

		/***** SUB-MENU ROW OF LINKS AT THE TOP OF EACH PAGE *****/

		#subMenuLinks {
			margin-top: 5px;
			height: 18px;
			color: #384747;
			float: left;
		}

			#subMenuLinks a {
				color: #BDD61E;
				text-decoration: none;
			}
			
			#subMenuLinks a:hover {
				color: #E3F286;
				text-decoration: none;
			}
			
			#subMenuLinks span {
				color: #384747;
				font-size: 1.5em;
			}

/*
 ***** TOOLTIP STYLES *****
 */

.tooltip {
   position: absolute;
   z-index: 2;
   display: none;  
}

    .helpTip {
       border: 3px solid #FBED89;
       padding: 8px;
       background: #FFFFD2;
       width: 230px;
       position: absolute;
    }

.tooltipMenuContainer ul {
	list-style: none;
     margin: 3px 0 0 10px;
}			
	
	.tooltipMenuContainer li {
		height: 20px;		
	}

#footerWidgetMenu {
	list-style: none;
	display: inline;
}

	#footerWidgetMenu li {
		float: left;
		display: inline;
		width: 26px;
		height: 24px;
		margin-right: 6px;
		cursor: pointer;
	}
