a {
	color: #003399;
    font-size: inherit;
	text-decoration: none;
}

a:hover {
	color: #CC6600;
	font-size: inherit;
	text-decoration: none;
}

.boxBlue {
	border: 1px solid #bddbf9;
}

.barBlue, .boxBlue {
	background: #ebf4fd;
	width: 100%;
}
	.barBlue p, .boxBlue p {
		padding: 5px;
	}

    .barBlue p.noPad, .boxBlue p.noPad {
        padding-left: 0px;
    }

	.barBlue.bottom {
		border-bottom: 1px solid #bddbf9;
	}

.boxGray {
    background: #fafaf5;
    border: 1px solid #e8e7d6;
}

.boxYellow {
	 border: 1px solid #F2BE23;
}

.barYellow, .boxYellow  {
	background: #FFFFD2;
	width: 100%;
}
	.barYellow p, .boxYellow p {
		padding: 5px;
	}

    .barYellow p.noPad, .boxYellow p.noPad {
        padding-left: 0px;
    }

	.barYellow.bottom {
		border-bottom: 1px solid #FBED89;
	}

	.barYellow.top {
		border-top: 1px solid #FBED89;
	}

    .boxYellowInner {
        border: 3px solid #FBED89;
        padding: 8px;
        background: #FFFFD2;
    }

    .boxYellow, .boxYellowInner {
        font: bold 1em arial !important;
    }

div.row {
	min-height: 24px;
	width: 700px;
	padding: 3px;
	border-bottom: 1px solid #e8e7d6;
}

.oddRow {
    background: #fafaf5;
    border-top: 1px solid #e8e7d6;
    border-bottom: 1px solid #e8e7d6;
}

.evenRow {
	border: none;
	background: #fff;
}

.greenBar {
    width: 100%;
	height: 32px;
	background: url(../images/bgHeaderGreenBar.png) repeat-x;
}

.widgetContainer {
    display: none;
    height: 267px;
    overflow: scroll;
    border-bottom: none !important;
}

.dataTable tr td {
       padding: 3px;
	   text-align: left;
	   min-height: 27px;
}

.timerClockReadout, .timerClockReadout:hover {
	font: bold 20px arial;
	color: #333;
	padding-left: 30px;
	text-decoration: none;
}

.cpoLogo {
    background: url('../images/logoCPOmail.gif') no-repeat;
    width: 121px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}