/***** CLEAR DEFAULT BROWSER STYLES **************************************/
body {
	width:100% !important;
	margin:0 !important;
	padding:0 !important;
	line-height: 1.4;
	word-spacing:1.1pt;
	letter-spacing:0.2pt;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: none;
	font-size: 9pt;
}

/*Headings */
h1,h2,h3,h4,h5,h6 {
	font-family: Helvetica, Arial, sans-serif;
}
h1{
	font-size: 15pt;
}
h2{
	font-size:15pt;
}
h3{
	font-size:13pt;
}
h4,h5,h6{
	font-size:11pt;
}

code {
	font: 10pt Courier, monospace;
}

blockquote {
	margin: 1.3em;
	padding: 1em;
	font-size: 10pt;
}

hr {
	background-color: #ccc;
}

/* Images */


a img {
	border: none;
}

/* Links */
a:link, a:visited {
	background: transparent;
	text-decoration: none;
	color:#000;
}

/* Table */
table {
	margin: 1px; text-align:left;
}
th {
	border-bottom: 1px solid #333;
	font-weight: bold; }
td {
	border-bottom: 1px solid #333;
}
th,td {
	padding: 4px 10px 4px 0;
}
tfoot {
	font-style: italic;
}
caption {
	background: #fff;
	margin-bottom:	2em;
	text-align:left;
}
thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}

.doPrint {
	display: block;
}
button, input, .noPrint {
    display: none;
}

.contentArea {
    width: 800px;
}
