@charset "utf-8";
@font-face {
    font-family: 'Arial';
    src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf') format('truetype'), 
    url('../fonts/ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}


/**

 * Remove default margin.

 */

/*ul {
    list-style: none;
}*/

a {
    text-decoration: none;
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

::-moz-selection {
    background-color: #007d9d;
    color: #fff;
    text-shadow: none;
}

::selection {
    background-color: #007d9d;
    color: #fff;
    text-shadow: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.7;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px !important;
    overflow-x: hidden;
    /*font-family: 'Arial' !important;*/
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
}

.container:after,
.container:before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
figure {
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 100%;
    height: auto !important;
    display: block;
}

a,
button,
input {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a {
    text-decoration: none !important;
}


/**************global css end*******/

.container {
    position: relative;
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.main_header {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.main_header .header_user {
    width: 21%;
    float: left;
    margin: 0;
    padding: 3px 0;
    text-align: right;
}

.main_header .header_user p {
    text-align: right;
    font-size: 0;
    color: #fff;
}

.main_header .header_user p a {
    background: #42b72a;
    padding: 14px 0;
    width: 100px;
    border-radius: 3px;
    font-size: 16px;
    font-family: Arial, Helvetica, Helvetica Neue, sans-serif;
    color: #fff;
    font-weight: 500;
    font-weight: normal;
    display: inline-block;
    text-align: center;
}

.main_header .header_user p a:last-child {
    background: #023c6c;
}

.main_header .header_user p a:last-child:hover {
    background: #42b72a;
}

.main_header .header_user p a+a {
    margin-left: 8px;
}

.main_header .header_user p a:hover {
    background: #023c6c;
}

.main_header .header_user i.login_icon {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 15px;
    padding: 0;
}

.main_header .logo_navigation {
    width: 100%;
    float: left;
    margin: 0;
    padding: 18px 0;
    background: #fff;
}

.main_header .logo_navigation .logo {
    width: 20%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: left;
}

.main_header .logo_navigation .logo a {
    display: inline-block;
    padding-top: 4px;
}

.main_header .logo_navigation .nav_sec {
    width: 57%;
    float: left;
    margin: 0;
    padding: 16px 0px;
}

.main_header .logo_navigation .nav_sec ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    text-align: right;
}

.main_header .logo_navigation .nav_sec ul li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    position: relative;
}

.main_header .logo_navigation .nav_sec ul li+li {
    margin-left: 50px;
}

.main_header .logo_navigation .nav_sec ul li a {
    font-size: 18px;
    color: #282828;
    font-weight: 500;
    letter-spacing: 1px;
}

.main_header .logo_navigation .nav_sec ul li:hover>a,
.main_header .logo_navigation .nav_sec ul li.active>a {
    color: #fe9901;
}

.main_header .logo_navigation .nav_sec ul ul {
    width: 190px;
    background: #04486d;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    z-index: 999;
    display: none;
}

.main_header .logo_navigation .nav_sec ul li:hover ul {
    display: block;
}

.main_header .logo_navigation .nav_sec ul ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    transition: all 0.3s ease-in-out;
}

.main_header .logo_navigation .nav_sec ul ul li+li {
    border-top: 1px solid #055784;
}

.main_header .logo_navigation .nav_sec ul ul li a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.main_header .logo_navigation .nav_sec ul ul li:hover a {
    background: #98cb00;
    color: #fff;
}

.toggle-menu {
    display: none;
}

.heading_area {
    width: 100%;
    float: left;
    margin: 0;
    padding: 25px 0 28px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#003a6c+0,137b72+100 */
    background: #003a6c;
    /* Old browsers */
    background: -moz-linear-gradient(left, #003a6c 0%, #137b72 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #003a6c 0%, #137b72 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #003a6c 0%, #137b72 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a6c', endColorstr='#137b72', GradientType=1);
    /* IE6-9 */
    text-align: center;
}

.heading_area h1 span {
    font-size: 50px !important;
    font-weight: bold;
}

.heading_area h1 {
    font-size: 23px;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 1.5px;
    text-shadow: rgba(0, 0, 0, 0.5)1px 2px 4px;
}

.login_area {
    width: 100%;
    float: left;
    margin: 0;
    padding: 118px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../images/sc-image/common-bg1.jpg");
}

.login_area .left_area {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.login_area .login_info {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    padding: 0;
}

.login_area .login_info h4 {
    font-size: 15px;
    color: #fe9901;
    margin: 0 0 18px;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.8)0 1px 5px;
}

.login_area .login_info ul.browser_compotablity {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.login_area .login_info ul.browser_compotablity li {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.login_area .login_info ul.browser_compotablity li+li {
    margin-left: 15px;
}

.login_area .login_info ul.details {
    width: 100%;
    float: left;
    margin: 45px 0 10px;
    padding: 0;
}

.login_area .login_info ul.details li {
    width: 100%;
    float: left;
    margin: 0 0 30px;
    padding: 12px 0px 12px 70px;
    position: relative;
}

.login_area .login_info ul.details li .comman_image {
    position: absolute;
    top: 0;
    left: 0;
}

.login_area .login_info ul.details li:nth-child(2) {
    padding: 4px 0px 4px 70px;
}

.login_area .login_info ul.details li:nth-child(3) {
    padding: 0px 0px 0px 70px;
}

.login_area .login_info ul.details li p {
    font-size: 16px !important;
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: normal;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.5)1px 1px 5px;
}

.login_area .login_info a.create_new_account {
    display: block;
    background: #42b72a;
    font-size: 16px;
    color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    clear: both;
    letter-spacing: 1px;
    border-radius: 10px;
    text-shadow: rgba(0, 0, 0, 0.3)1px 1px 3px;
}

.login_area .login_info a.create_new_account:hover {
    background: #023c6c;
}

.login_area .right_area {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}

.login_area .login_form {
    width: 100%;
    max-width: 525px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 58px;
    display: table;
    min-height: 415px;
}

.login_area .login_form .full_field {
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0;
}

.login_area .login_form .full_field+.full_field {
    margin-top: 25px;
}

.login_area .login_form .full_field label {
    font-size: 15px;
    color: 282828;
    letter-spacing: 1px;
    margin: 0 0 15px;
}

.login_area .login_form .full_field input {
    width: 100%;
    padding: 0 10px;
    height: 45px;
    border: 1px solid #a9a9a9;
    background: transparent;
    font-size: 18px;
}

.login_area .login_form .full_field input:focus{
    background:#FFF;
}

.login_area .login_form .another_full_area {
    width: 100%;
    float: left;
    margin: 12px 0 30px;
    padding: 0;
}

.login_area .login_form .check_box {
    width: auto;
    float: left;
}

.login_area .login_form .check_box input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background: #fff;
}

.login_area .login_form .check_box label {
    font-size: 14px;
    color: #67666b;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
    letter-spacing: 0.5px;
}

.login_area .login_form a.forgot_password {
    float: right;
    color: #0b9bcf;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.login_area .login_form a.forgot_password:hover {
    color: #42b72a;
}

.login_area .login_form .submit_area {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.login_area .login_form .submit_area input[type="submit"] {
    width: 100%;
    border: 0;
    height: 50px;
    background: #023c6c;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    text-shadow: rgba(0, 0, 0, 0.3)1px 1px 3px;
}

.login_area .login_form .submit_area input[type="submit"]:hover {
    background: #42b72a;
}

.pricing_and_signup {
    width: 100%;
    float: left;
    margin: 0;
    padding: 30px 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#003a6c+0,137b72+100 */
    background: #003a6c;
    /* Old browsers */
    background: -moz-linear-gradient(left, #003a6c 0%, #137b72 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #003a6c 0%, #137b72 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #003a6c 0%, #137b72 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003a6c', endColorstr='#137b72', GradientType=1);
    /* IE6-9 */
}

.pricing_and_signup .container {
    text-align: center;
}

.pricing_and_signup span {
    font-size: 30px !important;
    color: #fff;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.3)1px 1px 3px;
    display: inline-block;
    vertical-align: middle;
}

.pricing_and_signup a {
    height: 54px;
    line-height: 54px;
    background: #42b72a;
    color: #fff;
    font-size: 20px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin: 0 0 0 18px;
}

.pricing_and_signup a:hover {
    background: #023c6c;
}

.main_footer {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.main_footer .footer_info {
    width: 100%;
    float: left;
    margin: 0;
    padding: 80px 0 20px;
}

.main_footer .footer_info .all_section {
    margin: 0 1.5%;
    padding: 0;
}

.main_footer .footer_info .all_section .each_section {
    margin: 0 1.5%;
    padding: 0;
    width: 22%;
    float: left;
}

.main_footer .footer_info h4 {
    font-size: 20px;
    color: #151515;
    letter-spacing: 0.5px;
    margin: 0 0 25px;
    padding: 0;
}

.main_footer .footer_info .footer_nav {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.main_footer .footer_info .footer_nav ul {
    margin: 0;
    padding: 0;
}

.main_footer .footer_info .footer_nav ul li {
    display: block;
    margin: 0 0 12px;
    padding: 0;
}

.main_footer .footer_info .footer_nav ul li a {
    font-size: 18px;
    color: #434343;
    letter-spacing: 0.5px;
}

.main_footer .footer_info .footer_nav ul li a:hover,
.main_footer .footer_info .footer_nav ul li.active a {
    color: #fc9802;
}

.main_footer .footer_info .social_list {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.main_footer .footer_info .social_list ul {
    margin: 0;
    padding: 0;
}

.main_footer .footer_info .social_list ul li {
    display: block;
    margin: 0 0 12px;
    padding: 0;
}

.main_footer .footer_info .social_list ul li img {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.main_footer .footer_info .social_list ul li span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 4px;
    padding: 0;
    font-size: 18px !important;
    color: #434343;
    letter-spacing: 0.5px;
    transition: all 0.3s ease-in-out;
}

.main_footer .footer_info .social_list ul li a:hover span {
    color: #fc9802;
    transition: all 0.3s ease-in-out;
}

.copyright_section {
    width: 100%;
    float: left;
    margin: 0;
    padding: 35px 0;
    text-align-last: center;
}

.copyright_section img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    padding: 0;
}

.copyright_section span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 15px !important;
    letter-spacing: 0.5px;
}

.login_area .login_form .forgot_form {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    display: none;
}

.errorMessageSmall {
    min-height: 20px;
}

.resetpass-info {
    background: url(../images/icons/iconChangePassword.png) no-repeat top left;
    display: block;
    padding-left: 30px;
    min-height: 24px;
    margin-left: -30px;
}

.resetpass-info p {
    margin-bottom: 8px;
}

.bigText p {
    margin-bottom: 8px;
}


/*======================================= homepage style ==============================*/

.home_banner_slider {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.home_banner_slider .each_banner {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 580px;
    display: table;
}

.home_banner_slider .each_banner .display_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.home_banner_slider .each_banner .banner_text {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.home_banner_slider .each_banner .banner_text h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin: 0 0 25px;
    padding: 0;
    color: #fff;
    line-height: 65px;
    letter-spacing: 1px;
}

.home_banner_slider .each_banner .banner_text p {
    text-align: center;
    font-size: 28px !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 1px;
}

.home_banner_slider .each_banner .banner_text .button_area {
    width: 100%;
    float: left;
    margin: 35px 0 0;
    padding: 0;
    text-align: center;
}

.home_banner_slider .each_banner .banner_text .button_area a {
    height: 50px;
    line-height: 50px;
    background: #42b72a;
    color: #fff;
    font-size: 15px;
    width: 100%;
    max-width: 185px;
    padding: 0 15px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    margin: 0 10px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

.home_banner_slider .each_banner .banner_text .button_area a:hover {
    background: #023c6c;
}

.services_sec {
    width: 100%;
    float: left;
    margin: 0;
    padding: 80px 0 50px;
    background: #f6f6f6;
}

.services_sec .container {
    max-width: 1200px;
}

.services_sec .all_lists {
    margin: 0 -1%;
    padding: 0;
}

.services_sec .all_lists .esch_list {
    width: 23%;
    float: left;
    margin: 0 1% 25px;
    padding: 0;
}

.services_sec .each_service {
    width: 100%;
    float: left;
    margin: 0;
    padding: 20px;
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 3px 9px 20px -10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 9px 20px -10px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 9px 20px -10px rgba(0, 0, 0, 0.3);
}

.services_sec .each_service img {
    margin: 0 auto 10px;
}

.services_sec .each_service h4 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 8px;
    padding: 0;
    letter-spacing: 0.5px;
}

.services_sec .each_service p {
    text-align: center;
    font-size: 13px !important;
    color: #282828;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: 20px !important;
}

.pricing_sec {
    width: 100%;
    float: left;
    margin: 0;
    padding: 80px 0 90px;
}

.pricing_sec h2 {
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    color: #535353;
    font-weight: bold;
    margin: 0 0 50px;
    letter-spacing: 1px;
}

.pricing_sec .table_area {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.table_area table {
    width: 100%;
}

.table_area table thead tr td {
    text-align: center;
    background: #f6f4f5;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 4px;
    border-bottom: 1px solid #d8d6d7;
    border-top: 1px solid #d8d6d7;
}

.table_area table thead tr td+td {
    border-left: 1px solid #d8d6d7;
}

.table_area table thead tr td:first-child,
.table_area table thead tr td:last-child {
    background: transparent;
    box-shadow: inherit;
    border-top: initial;
}

.table_area table thead tr td h4 {
    font-size: 28px;
    text-transform: uppercase;
    color: #535353;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
    text-align: center;
}

.table_area table thead tr td p {
    font-size: 20px !important;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #42b72a;
    text-align: center;
    line-height: normal !important;
}

.table_area table thead tr td p span {
    font-size: 45px !important;
    font-weight: bold;
}

.table_area table thead tr td p span sup {
    font-size: 20px;
    color: #42b72a;
     position: relative;
    vertical-align: baseline;
    top: -0.8em;
}

.table_area table tbody tr td {
    background: #f6f4f5;
    padding: 20px 20px;
    /*box-shadow: rgba(0,0,0,0.2)0px 1px 4px;*/
    font-size: 22px;
    color: #535353;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

.table_area table tbody tr+tr td {
    border-top: 1px solid #d8d6d7;
}

.table_area table tbody tr td+td {
    border-left: 1px solid #d8d6d7;
}

.table_area table tbody tr td:first-child {
    background: #023c6c;
    color: #fff;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: left;
}

.table_area table tbody tr td:last-child {
    background: #023c6c;
    border: initial;
}

.table_area table tbody tr.cradit_card td h4 {
    font-size: 18px;
    color: #fff;
    background: url(../images/sc-image/new-icon9.png) no-repeat left;
    padding-left: 50px;
}

.table_area table tbody tr.cradit_card td>a {
    height: 45px;
    line-height: 45px;
    background: #42b72a;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    padding: 0 25px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin: 0;
}

.table_area table tbody tr.cradit_card td>a:hover {
    background: #023c6c;
}

.testimonial_sec {
    width: 100%;
    float: left;
    margin: 0;
    padding: 80px 0 90px;
    background: #f6f6f6;
}

.testimonial_sec h2 {
    text-align: center;
    font-size: 38px;
    text-transform: uppercase;
    color: #535353;
    font-weight: bold;
    margin: 0 0 40px;
    letter-spacing: 1px;
}

.testimonial_sec .slider-for {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 0 0px;
}

.testimonial_sec .slider-for .item {
    margin: 10px 15px 35px;
}

.testimonial_sec .slider-for .textimonial_centent {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding: 40px 20px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2)0 0 8px;
    text-align: center;
    min-height: 155px;
}

.testimonial_sec .slider-for .textimonial_centent:after {
    content: " ";
    position: absolute;
    bottom: -25px;
    border-color: white transparent;
    border-style: solid;
    border-width: 25px 15px 0px 15px;
    height: 0px;
    width: 0px;
}

.testimonial_sec .slider-for .textimonial_centent p {
    font-size: 16px !important;
    color: #000;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    position: relative;
    padding: 0 65px 0 65px;
    line-height: 25px !important;
}

.testimonial_sec .slider-for .textimonial_centent p:before {
    content: " ";
    position: absolute;
    top: -20px;
    left: 0;
    width: 51px;
    height: 40px;
    background: url("../images/sc-image/new-icon10.jpg") no-repeat;
}

.testimonial_sec .slider-for .textimonial_centent p:after {
    content: " ";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 51px;
    height: 40px;
    background: url("../images/sc-image/new-icon10.jpg") no-repeat;
    transform: rotate(180deg);
}

.testimonial_sec .slider-nav {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.testimonial_sec .slider-nav .slick-track {
    text-align: center;
}

.testimonial_sec .slider-nav .item {
    max-width: 200px;
    margin: 0 auto;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.testimonial_sec .slider-nav figure {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    border: 5px solid transparent;
    overflow: hidden;
    margin: 0 auto 12px;
    transition: all 0.3s ease-in-out;
}

.testimonial_sec .slider-nav .item.slick-current figure {
    border: 5px solid #e5e5e5;
}

.testimonial_sec .slider-nav h4 {
    font-size: 16px !important;
    color: #cecece;
    letter-spacing: 1px;
    margin: 0 0 5px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.testimonial_sec .slider-nav .item.slick-current h4 {
    color: #27b642;
}

.testimonial_sec .slider-nav p {
    text-align: center;
    font-size: 15px !important;
    letter-spacing: 1px;
    color: #cecece;
    transition: all 0.3s ease-in-out;
}

.testimonial_sec .slider-nav .item.slick-current p {
    color: #000;
}

.partners_logo_sec {
    width: 100%;
    float: left;
    margin: 0;
    padding: 80px 0;
}

.partners_logo_sec .partners_slider {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.partners_logo_sec .partners_slider .item {
    margin: 10px 15px;
}

.partners_logo_sec .partners_slider .item figure img {
    box-shadow: rgba(0, 0, 0, 0.1)0 0 10px;
    margin: 0 auto;
}


/*===================================================================================*/


#pageBody #dashboard{
    padding-top: 0;
}

.homeBG {
    height: 355px;
}

#toolbar {
    height: 75px;
    width: 950px;
    top: 160px;
}

#header.home{
    clear: both;
}

#header.child {
    height: 88px;
    clear: both;
}

#pageBody {
    clear: both;
}

#pageBody .tourLeft {
    width: 590px !important;
}

#pageBody .tourRight {
    width: 337px;
}

#pageBody .tourRight>img {
    max-width: initial;
}

.customerLogoContainer a > img{
    display: inline-block;
    vertical-align: middle;
}

.searchBlog {
    height: 26px;
}


/*===================================== responsive ==============================*/

@media only screen and (max-width: 1900px) {
    .container {
        max-width: 1140px;
    }
    .main_header .logo_navigation {
        padding: 10px 0;
    }
    .main_header .logo_navigation .nav_sec ul li+li {
        margin-left: 38px;
    }
    .main_header .logo_navigation .nav_sec ul li a {
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    .heading_area h1 span {
        font-size: 35px !important;
    }
    .heading_area h1 {
        font-size: 20px;
    }
    .heading_area {
        padding: 18px 0 24px;
    }
    .login_area {
        padding: 90px 0;
    }
    .login_area .login_info ul.details li p {
        font-size: 14px !important;
        text-shadow: rgba(0, 0, 0, 0.3)1px 1px 5px;
    }
    .pricing_and_signup {
        padding: 25px 0;
    }
    .pricing_and_signup span {
        font-size: 22px !important;
        letter-spacing: 0.5px;
    }
    .pricing_and_signup a {
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    .main_footer .footer_info .footer_nav ul li a {
        font-size: 14px;
    }
    .main_footer .footer_info .footer_nav ul li {
        margin: 0 0 6px;
    }
    .main_footer .footer_info .social_list ul li span {
        font-size: 14px !important;
    }
    .main_footer .footer_info {
        padding: 60px 0 0px;
    }
    .copyright_section {
        padding: 10px 0 25px;
    }
    .main_header .header_user p a {
        padding: 11px 0;
        font-size: 15px;
    }
    .main_header .header_user {
        padding: 3px 0;
    }
    .main_footer .footer_info h4 {
        font-size: 18px;
        margin: 0 0 15px;
    }
    .main_header .logo_navigation .nav_sec {
        padding: 12px 0px;
    }
}

@media only screen and (max-width: 1199px) {
    .main_header .logo_navigation .nav_sec {
        width: 57%;
    }
    .main_header .logo_navigation .nav_sec ul li+li {
        margin-left: 29px;
    }
    .main_header .header_user {
        width: 23%;
        padding: 3px 0;
    }
    .main_header .header_user p a {
        width: 93px;
        padding: 10px 0;
    }
    .main_header .logo_navigation .logo a {
        padding-top: 0;
    }
}

@media only screen and (max-width: 991px) {
    .main_header .logo_navigation .nav_sec ul li+li {
        margin-left: 50px;
    }
    .login_area {
        padding: 70px 0;
    }
    .login_area .login_info {
        margin: 0;
    }
    .main_header .logo_navigation .nav_sec {
        width: 55%;
    }
    .main_header .logo_navigation .nav_sec ul li+li {
        margin-left: 28px;
    }
    .main_header .logo_navigation .nav_sec ul li a {
        font-size: 15px;
    }
    .main_header .header_user {
        width: 25%;
    }
    .main_header .header_user p a {
        width: 83px;
    }
    /*====================================================*/
    .home_banner_slider .each_banner {
        min-height: 400px;
    }
    .home_banner_slider .each_banner .banner_text h1 {
        font-size: 35px;
        margin: 0 0 15px;
        line-height: normal;
    }
    .services_sec {
        padding: 50px 0 30px;
    }
    .services_sec .all_lists .esch_list {
        width: 48%;
    }
    .pricing_sec {
        padding: 50px 0 60px;
    }
    .testimonial_sec {
        padding: 50px 0 55px;
    }
    .partners_logo_sec {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 840px) {
    .main_header .logo_navigation .nav_sec ul li+li {
        margin-left: 35px;
    }
    .heading_area h1 span {
        font-size: 35px !important;
    }
    .heading_area h1 {
        font-size: 20px;
    }
    .login_area .left_area {
        width: 100%;
    }
    .login_area .right_area {
        width: 100%;
    }
    .login_area .login_info {
        margin: 0 auto 40px;
        max-width: 525px;
    }
    .pricing_and_signup span {
        font-size: 25px !important;
        letter-spacing: 0.5px;
    }
    .main_footer .footer_info {
        padding: 40px 0 0px;
    }
    .main_footer .footer_info .all_section .each_section {
        width: 47%;
        min-height: 245px;
    }
    .main_footer .footer_info h4 {
        margin: 0 0 12px;
    }
    .main_footer .footer_info .footer_nav ul li {
        margin: 0 0 5px;
    }
    .main_header .logo_navigation .nav_sec ul li+li {
        margin-left: 23px;
    }
    .main_header .header_user {
        padding: 6px 0;
    }
    .main_header .header_user p a {
        width: 74px;
        padding: 6px 0;
        font-size: 15px;
    }
    .main_header .logo_navigation .nav_sec {
        padding: 10px 0px;
    }
}

@media only screen and (max-width:767px) {
    .main_header .logo_navigation .logo {
        width: 100%;
    }
    .main_header .logo_navigation .nav_sec {
        width: 100%;
    }
    .main_header .logo_navigation {
        padding: 10px 0;
    }
    /*========================== start mobile menu =================================*/
    span.toggle-menu img {
        float: right;
    }
    span.toggle-menu {
        width: auto;
        margin: 0;
        padding: 5px 8px;
        display: block;
        cursor: pointer;
        background: #000;
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: 15px;
    }
    .main_header .logo_navigation .nav_sec {
        width: 280px;
        height: 100%;
        float: none;
        position: fixed;
        z-index: 999;
        top: 0;
        right: -100%;
        padding: 70px 0 0;
        background: #000;
        display: block;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
    }
    .main_header .logo_navigation .nav_sec.slidein {
        right: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .main_header .logo_navigation .nav_sec .cls-btn {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        background: url(../images/sc-image/cross.png) no-repeat center;
    }
    .main_header .logo_navigation .nav_sec ul {
        text-align: left;
    }
    .main_header .logo_navigation .nav_sec ul>li {
        display: block;
        padding-bottom: 0;
        width: 100%;
        float: left;
        margin: 0;
    }
    .main_header .logo_navigation .nav_sec ul>li+li {
        margin-left: 0;
        border-top: 1px solid #2b2b2b;
    }
    .main_header .logo_navigation .nav_sec ul>li a {
        color: #FFF;
        padding: 11px 15px;
        font-size: 15px;
        border-radius: 0;
        display: block;
    }
    .main_header .logo_navigation .nav_sec ul li a:before {
        display: none;
    }
    .main_header .logo_navigation .nav_sec ul>li:hover>a,
    .main_header .logo_navigation .nav_sec ul>li.active>a {
        background: #0391c6;
        color: #FFF;
    }
    .main_header .logo_navigation .nav_sec>ul>li>a:after,
    .main_header .logo_navigation .nav_sec>ul>li>a:after {
        display: none;
    }
    .main_header .logo_navigation .nav_sec img {
        display: inline-block;
        vertical-align: middle;
    }
    .main_header .logo_navigation .nav_sec i {
        float: left;
        font-style: normal;
        color: #fff;
        line-height: 30px;
        font-size: 21px;
        font-weight: 600;
    }
    .main_header .logo_navigation .nav_sec ul>li:hover ul {
        display: none;
    }
    .main_header .logo_navigation .nav_sec ul>li ul {
        width: 100%;
        background: #197496;
        position: static;
        top: 100%;
        left: 0;
        text-align: left;
        display: none;
        float: left;
        border-radius: 0;
        padding: 0;
    }
    .main_header .logo_navigation .nav_sec ul li ul li a {
        padding: 6px 20px;
        color: #fff;
    }
    .main_header .logo_navigation .nav_sec ul ul>li:hover>a,
    .main_header .logo_navigation .nav_sec ul ul>li.active>a {
        background: #1b72bf;
        color: #FFF;
    }
    .main_header .logo_navigation .nav_sec ul li .arw-nav {
        width: 40px;
        height: 45px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
        cursor: pointer;
        background: url(../images/sc-image/arw.png) no-repeat center;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .logo_navigation .nav_sec ul li .arw-nav.actv {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    /*========================================================================================*/
    .copyright_section img {
        display: block;
        margin: 0 auto 10px;
    }
    .copyright_section span {
        display: block;
        text-align: center;
    }
    .main_header .header_user {
        width: auto;
        position: absolute;
        right: 76px;
        top: 0;
    }
    .pricing_sec h2 {
        font-size: 30px;
        margin: 0 0 25px;
        letter-spacing: normal;
    }
    .table_area table thead tr td h4 {
        font-size: 20px;
        margin: 0;
    }
    .table_area table thead tr td p span {
        font-size: 25px !important;
    }
    .table_area table thead tr td p {
        font-size: 16px !important;
        letter-spacing: normal;
    }
    .table_area table tbody tr td:first-child {
        font-size: 14px;
        letter-spacing: normal;
    }
    .table_area table tbody tr.cradit_card td h4 {
        font-size: 14px;
        padding-left: 44px;
    }
    .table_area table tbody tr td {
        padding: 12px 5px;
        font-size: 16px;
        letter-spacing: normal;
    }
    .table_area table tbody tr.cradit_card td>a {
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding: 0 14px;
        border-radius: 4px;
        letter-spacing: normal;
    }
    .table_area table thead tr td {
        padding: 10px 5px;
    }
    .testimonial_sec h2 {
        font-size: 30px;
        margin: 0 0 20px;
        letter-spacing: normal;
    }
}

@media only screen and (max-width: 640px) {
    .pricing_and_signup span {
        display: block;
        text-align: center;
        margin: 0 0 15px;
        line-height: normal;
    }
    .login_area .login_info ul.details li {
        margin: 0 0 20px;
    }
    /*================================================*/
    .home_banner_slider .each_banner .banner_text {
        display: table;
    }
    .home_banner_slider .each_banner .banner_text h1 {
        font-size: 25px;
    }
    .home_banner_slider .each_banner .banner_text p {
        font-size: 20px !important;
    }
    .home_banner_slider .each_banner {
        min-height: 300px;
    }
    .testimonial_sec .slider-for .textimonial_centent p {
        font-size: 14px !important;
        padding: 0 65px 0 65px;
        line-height: 20px !important;
    }
    .testimonial_sec .slider-for .textimonial_centent {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 575px) {
    .main_header .logo_navigation .logo a {
        width: 145px;
    }
    span.toggle-menu {
        top: 3px;
    }
    .heading_area {
        padding: 20px 0;
    }
    .login_area {
        padding: 40px 0;
    }
    .login_area .login_form {
        padding: 30px;
    }
    .main_footer .footer_info .all_section .each_section {
        width: 97%;
        min-height: initial;
        margin: 0 1.5% 20px;
    }
    /*.main_footer .footer_info .footer_nav,

.main_footer .footer_info .social_list {

    width: 100%;

    float: none;

    margin: 0 auto;

    padding: 0;

    max-width: 200px;

}*/
    .main_footer .footer_info .footer_nav ul li a,
    .main_footer .footer_info .social_list ul li span {
        font-size: 16px !important;
    }
    .main_footer .footer_info .footer_nav ul li {
        margin: 0 0 4px;
    }
    .login_area .login_form .check_box {
        width: 100%;
        float: left;
        margin: 0 0 10px;
    }
    .login_area .login_form a.forgot_password {
        float: left;
    }
    .resetpass-info {
        margin-left: 0;
    }
    .main_header .header_user {
        top: 0px;
    }
}

@media only screen and (max-width: 480px) {
    /*============================================================*/
    .services_sec .all_lists .esch_list {
        width: 98%;
    }
    .services_sec .each_service {
        height: initial !important;
    }
    .services_sec {
        padding: 35px 0 10px;
    }
    .pricing_sec .table_area {
        overflow-x: scroll;
    }
    .pricing_sec h2 {
        font-size: 25px;
    }
    .pricing_sec {
        padding: 35px 0 35px;
    }
    .testimonial_sec h2 {
        font-size: 25px;
    }
    .testimonial_sec .slider-for .textimonial_centent p {
        padding: 0;
    }
    .testimonial_sec .slider-for .textimonial_centent p:before,
    .testimonial_sec .slider-for .textimonial_centent p:after {
        display: none;
    }
    .testimonial_sec {
        padding: 35px 0 35px;
    }
    .testimonial_sec .slider-for .textimonial_centent {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.2)0 0 3px;
        min-height: initial;
    }
    .testimonial_sec .slider-for .item {
        margin: 5px 5px 10px;
    }
    .partners_logo_sec {
        padding: 35px 0;
    }
}

@media only screen and (max-width: 420px) {
    .heading_area h1 span {
        font-size: 22px !important;
    }
    .heading_area h1 {
        font-size: 16px;
        letter-spacing: 0.5px;
    }
    .login_area .login_info ul.browser_compotablity li+li {
        margin-left: 1px;
    }
    .login_area .login_form {
        padding: 25px 15px;
    }
    .main_header .header_user {
        width: 100%;
        position: static;
        padding: 10px 0 0;
    }
    .main_header .header_user p {
        text-align: center;
    }
    /*==============================================================*/
    .home_banner_slider .each_banner .banner_text h1 {
        font-size: 21px;
        letter-spacing: normal;
    }
    .home_banner_slider .each_banner .banner_text p {
        font-size: 16px !important;
    }
    .home_banner_slider .each_banner .banner_text .button_area a {
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        max-width: 124px;
        padding: 0 5px;
        margin: 0 5px;
    }
    .home_banner_slider .each_banner .banner_text .button_area {
        margin: 20px 0 0;
    }
    .home_banner_slider .each_banner {
        min-height: 250px;
    }
}