.new {
	width: 16px;
	height: 16px;
	background: url(../images/plus16.png) no-repeat;
}

.icon_comment_small {
	background: url("../images/balloon--plus.png") no-repeat;
	display: inline-block;
	padding-left: 22px;
	min-height: 18px;
}
