#timerForm {
	bottom: 35px;
	position: absolute;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 6px;
	border: 1px solid #ccc;
	background: #f4f5f5;
	-webkit-box-shadow: 0px -2px 3px 3px #eee;
	width: 412px;
	height: 250px;
	margin-left: 12px;
}

.projectPicker {
	width: 300px;	
}

.widgetContainer {
	width: 100%;
}

.timerRow {
	width: 100%;
	min-height: 80px;
	background: #fff url('../images/bgGray.png') repeat-x;
	border-bottom: 1px solid #ccc;
}

.timerRowInner {
	padding: 12px;
}

.timerRowInner p {
	margin-bottom: 3px;
}

.timerRowLeft {
	float: left;
	width: 300px;
}

.timerRowRight {
	float: right;
	text-align: right;
}

.listGreyBold {
	font-size: 13px;
	font-weight: bold;
	color: #666666;
}

.listNormal {
	font-size: 12px;
	font-weight: normal;
	color: #000;
}

.listGreySmall {
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

.listBlackBold {
	color: #000;
	font-size: 1.7em;
	text-shadow: 1px 2px 2px #fff;
	font-weight: bold;
}

.buttonPlay {
	width: 24px;
	height: 24px;
	background: url('../images/buttonPlayRound.png') no-repeat;
}

.buttonStop {
	width: 24px;
	height: 24px;
	background: url('../images/buttonStopRound.png') no-repeat;
}

.buttonAdd {
	width: 24px;
	height: 24px;
	background: url('../images/buttonAddRound.png') no-repeat;
}

.buttonRemove {
	width: 16px;
	height: 16px;
	background: url('../images/crossShadow.png') no-repeat;
}

.timerRemove {
	float: left;
	margin: 4px 6px 0 0;
}

#headerBarTimer .ch-datePicker-trigger {
	background: none !important;
	width: 100%;
	margin: -22px 0 0 0 !important;
	height: 30px;
}
